@model CodeAcademy.Models.CreateSectionModel

@{
    ViewData["Title"] = "Create Section";

}


<h2>Create Section</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <h5 class="card-title">Course: @ViewData["CourseTitle"]</h5>

        <form asp-action="CreateSections" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label>
                <input asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" maxlength="1000" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewSections" asp-route-courseId="@ViewData["CourseId"]">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
