@model IEnumerable<CodeAcademy.Models.CourseHasStudent>

@{
    ViewData["Title"] = "My Students";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>My Students</h3>
            <br />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var courseGroup in Model.GroupBy(chs => chs.Course))
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => courseGroup.Key.Title)</h5>
                        <hr />
                        <ul class="list-group list-group-flush">
                            @foreach (var enrollment in courseGroup)
                            {
                                <li class="list-group-item">
                                    <strong>Student:</strong> @Html.DisplayFor(modelItem => enrollment.Student.Name) @Html.DisplayFor(modelItem => enrollment.Student.Surname)
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br />
<br />
<br />
<br />
