@{
    ViewData["Title"] = "Learn to code";
}

<div class="text-center">
    <h1 class="display-4">Learn to code</h1>
    <p> Explore a range of free lessons, tutorials, and resources for each programming language.</p>
    <p> Start learning today!</p>
</div>


