@model CodeAcademy.Models.CreateAnswerModel

@{
    ViewData["Title"] = "Create Answer";
}


<body style="background-color: #ccffee;">
<div class="container">
    <br />
            <h2 class="text-center" style="font-size: 2rem;">Create Answer</h2>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-6">
    <form asp-action="CreateAnswer" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="QuestionId" />
        <div class="form-group">
            <label asp-for="AnswerText" class="control-label"></label>
                        <input asp-for="AnswerText" class="form-control" maxlength="500" style="background-color: white; border: 1px solid black; border-radius: 0; width: 100%;" />
            <span asp-validation-for="AnswerText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsCorrect" class="control-label"></label>
                        <select asp-for="IsCorrect" class="form-control" style="background-color: white; border: 1px solid black; border-radius: 0; width: 100%;">
                <option value="0">Incorrect</option>
                <option value="1">Correct</option>
            </select>
            <span asp-validation-for="IsCorrect" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
</div>
</body>
<br />
<br />
<br />
<br />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
