@model CodeAcademy.Models.CreateQuestionModel

@{
    ViewData["Title"] = "Edit Question";
}

<div class="container">
    <br />
    <h2 class="text-center" style="font-size: 2rem;">Edit Question</h2>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-6">
    <form asp-action="EditQuestion">
    <div class="form-group">
        <label asp-for="QuestionText" class="control-label"></label>
                    <input asp-for="QuestionText" class="form-control" maxlength="500" style="background-color: white; border: 1px solid black; border-radius: 0; width: 100%;" />
        <span asp-validation-for="QuestionText" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="QuestionId" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
</div>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<br />
<br />
<br />
<br />