@model CodeAcademy.Models.EditProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h2>Edit Profile</h2>

<form asp-action="EditProfile" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    @if (Model.Role.ToLower().Trim() == "teacher")
    {
        <div class="form-group">
            <label asp-for="Telephone" class="control-label"></label>
            <input asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
    }
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Role" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
