@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "User Dashboard";
}

<h2>User Dashboard</h2>

@if (ViewBag.UserName != null)
{
    <p>Welcome, @ViewBag.UserName!</p>
}
else
{
    <p>Welcome, user!</p>
}
@if (User.IsInRole("Admin") || User.IsInRole("Student") || User.IsInRole("Teacher"))
{
    <ul class="list-group">
        @if (User.IsInRole("Admin"))
        {
            <li class="list-group-item">
                <a class="text-decoration-none text-info" asp-controller="User" asp-action="Index">Users</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none text-info" asp-controller="Administrators" asp-action="AssignRole">Assign Roles to Users</a>
            </li>
        }
        @if (User.IsInRole("Student") || User.IsInRole("Teacher"))
        {
            <li class="list-group-item">
                <a class="text-decoration-none text-info" asp-controller="Courses" asp-action="Index">Courses</a>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-warning">
        Your account does not have an assigned role. Please contact the administrators of the platform.
    </div>
}
